In [2]:
import pickle

In [5]:
with open('dataframe1_toddler.pkl','rb') as file:
        df3 = pickle.load(file)

In [6]:
df3.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,ASD
0,0,0,0,0,0,0,1,1,0,1,2,3,f,middle eastern,yes,no,family member,No
1,1,1,0,0,0,1,1,0,0,0,3,4,m,White European,yes,no,family member,Yes
2,1,0,0,0,0,0,1,1,0,1,3,4,m,middle eastern,yes,no,family member,Yes
3,1,1,1,1,1,1,1,1,1,1,2,10,m,Hispanic,no,no,family member,Yes
4,1,1,0,1,1,1,1,1,1,1,1,9,f,White European,no,yes,family member,Yes

In [7]:
with open('dataframe1_adolescents.pkl','rb') as file:
        df4 = pickle.load(file)

In [8]:
df4.head()

,age,gender,born_with_jaundice,family_member_with_PDD,label_whos_completing_test,label_ethnicity,label_country,used_screening_app_before,Q1_Score,Q2_Score,Q3_Score,Q4_Score,Q5_Score,Q6_Score,Q7_Score,Q8_Score,Q9_Score,Q10_Score,ASD_Label
0,15,0,1,1,2,6,6,0,0,0,0,1,1,1,1,1,1,0,0
1,15,0,0,0,3,5,6,0,0,0,0,0,0,0,0,0,1,1,0
2,14,1,0,0,4,12,30,0,0,1,1,1,1,1,0,1,1,0,1
3,15,1,0,0,2,8,5,0,1,1,0,1,1,0,1,1,0,1,1
4,12,0,1,1,2,5,9,0,1,1,1,1,1,1,0,0,0,0,0